.carousel {
  width: 100%;
  height: 100%;
  position: relative;
}

.card {
  position: absolute;
  top: 14vw;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 30%;
  height: 30%;
  object-fit: cover;
  cursor: pointer;
  z-index: 0;
  opacity: 0;
  border-radius: 50%;

  transition: 500ms;

  &--active {
    opacity: 1;
    transform: scale(1);
    z-index: 99;
    border-radius: 50%;
  }

  &--title {
    font-size: 1.3vw;
    text-align: center;
    line-height: 1.2;
    position: absolute;
    top: -6vw;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    color:#e46f25;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
  }

  &--caption {
    // position: absolute;
    // top: 1450px;
    // width: 100%;
    // height: 50%;
    // border-bottom-left-radius: 2820px;
    // border-bottom-right-radius: 2820px;
    // border-bottom: 0;
    // left: 3px;
    // background-color: rgba(228, 111, 37, 0.94);
    // box-shadow: 0 185px 60px rgba(0, 0, 0, 0.17);
    // color: #fff;

    &--title {
      // font-family: "M PLUS Rounded 1c", sans-serif;
      // margin: 0;
      // font-style: normal;
      // font-weight: 800;
      // font-size: 21px;
      // line-height: 115.18%;
      // margin-top: 15px;
      // margin-bottom: 15px;
      // text-transform: uppercase;
      // font-size: 1.5vw;
      // text-align: center;
    }

    &--subtitle {
      // width: 318px;
      // margin: 0 auto;
      // font-size: 14px;
    }
  }

  &--prev--left {
    transform: translateX(-200%) scale(0.6);
    transition: 500ms;
    opacity: 1;
    top: 20vw;
  }

  &--left {
    transform: translateX(-100%) scale(0.6);
    transition: 500ms;
    opacity: 1;
    top: 20vw;
  }

  &--right {
    transform: translateX(100%) scale(0.6);
    transition: 500ms;
    opacity: 1;
    top: 20vw;
  }

  &--image {
    width: 100%;
    border-radius: 50%;
    border: 3px solid #e46f25;
  }

  &--left > .card--caption,
  &--right > .card--caption {
    background-color: transparent;
  }

  &--left > .card--caption > .card--caption--title,
  &--right > .card--caption > .card--caption--title {
    position: absolute;
    top: 110%;
    left: 20%;
    width: 60%;
  }

  &--left > .card--caption > .card--caption--subtitle,
  &--right > .card--caption > .card--caption--subtitle {
    display: none;
  }

  @-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
  }
  @keyframes fadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }

  &--left > .second-page-block-btn,
  &--right > .second-page-block-btn,
  &--left > div > .card--title img,
  &--right > div > .card--title img {
    display: none;
  }

  &--left > div > .card--title,
  &--right > div > .card--title {
    font-weight: 800;
  }

  &--active > .second-page-block-btn {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
}

.nav {
  font-family: "M PLUS Rounded 1c", sans-serif;
  position: absolute;
  display: flex;
  align-items: center;
  color: #fff;
  top: 50%;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 140%;

  text-transform: uppercase;

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }

  &--icon {
    background-color: #e46f25;
    width: 25px;
    height: 25px;
    padding: 10px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.nav:hover {
  text-shadow: 1px 1px 10px #fff;
}

.header {
  padding-top: 5%;

  &--title {
    position: relative;
    margin: 0;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 21px;
    color: #fff;
    text-transform: uppercase;
    z-index: 100;
  }
}

.card-people {
  position: absolute;
  // top: 14vw;
  right: 0;
  bottom: 25vw;
  left: 0;
  margin: auto;
  width: 11%;
  height: 11%;
  object-fit: cover;
  cursor: pointer;
  z-index: 0;
  opacity: 0;
  border-radius: 50%;

  transition: 500ms;

  &--active {
    opacity: 1;
    transform: scale(3.5);
    z-index: 99;
    border-radius: 50%;
    bottom: 34vw;
  }

  &--title {
    font-size: 1vw;
    text-align: center;
    line-height: 1.2;
    position: absolute;
    top: -2vw;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    color:#ffffff;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
  }

  &--caption {
    position: absolute;
    bottom: -6vw;
    left: 7vw;
    width: 200px;
    height: 200px;
    background: #e46f25;
    color: white;
    padding: 0.5vw;
    border-radius: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5vw;

    &--name {
      font-size: 0.5vw;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      line-height: 1.2;
    }

    &--position {
      font-size: 0.3vw;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      line-height: 0.9;
    }

    &--words {
      font-size: 6px;
      text-align: center;
    }

    &--title {
      // font-family: "M PLUS Rounded 1c", sans-serif;
      // margin: 0;
      // font-style: normal;
      // font-weight: 800;
      // font-size: 21px;
      // line-height: 115.18%;
      // margin-top: 15px;
      // margin-bottom: 15px;
      // text-transform: uppercase;
      // font-size: 1.5vw;
      // text-align: center;
    }

    &--subtitle {
      // width: 318px;
      // margin: 0 auto;
      // font-size: 14px;
    }
  }



  &--left {
    transform: translateX(-180%) scale(0.6);
    transition: 500ms;
    opacity: 1;
    // top: 20vw;

    &--prev--one {
      transform: translateX(-250%) scale(0.6);
      transition: 500ms;
      opacity: 1;
      // top: 20vw;
    }
  
    &--prev--two {
      transform: translateX(-320%) scale(0.6);
      transition: 500ms;
      opacity: 1;
      // top: 20vw;
    }
  
    &--prev--three {
      transform: translateX(-390%) scale(0.6);
      transition: 500ms;
      opacity: 1;
      // top: 20vw;
    }
  }

  &--right {
    transform: translateX(180%) scale(0.6);
    transition: 500ms;
    opacity: 1;
    // top: 20vw;

    &--next--one {
      transform: translateX(250%) scale(0.6);
      transition: 500ms;
      opacity: 1;
      // top: 20vw;
    }
  
    &--next--two {
      transform: translateX(320%) scale(0.6);
      transition: 500ms;
      opacity: 1;
      // top: 20vw;
    }
  
    &--next--three {
      transform: translateX(390%) scale(0.6);
      transition: 500ms;
      opacity: 1;
      // top: 20vw;
    }
  }

  &--image {
    width: 100%;
    border-radius: 50%;
    border: 3px solid #e46f25;
  }

  &--left > .card--caption,
  &--right > .card--caption {
    background-color: transparent;
  }

  &--left > .card--caption > .card--caption--title,
  &--right > .card--caption > .card--caption--title {
    position: absolute;
    top: 110%;
    left: 20%;
    width: 60%;
  }

  &--left > .card--caption > .card--caption--subtitle,
  &--right > .card--caption > .card--caption--subtitle {
    display: none;
  }

  @-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
  }
  @keyframes fadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }

  &--left > .second-page-block-btn,
  &--right > .second-page-block-btn,
  &--left > div > .card--title img,
  &--right > div > .card--title img {
    display: none;
  }

  &--left > div > .card--title,
  &--right > div > .card--title {
    font-weight: 800;
  }

  &--active > .second-page-block-btn {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
}
